<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Index</h1>
    <ul>
        <li>1 пункт</li>
        <li>2 пункт</li>
        <li>3 пункт</li>
        <li>4 пункт</li>
        <li>5 пункт</li>
    </ul>
</body>
</html>